<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin-right: 10px">MyMaterial </span>

    <span class="example-spacer"></span>
    
    <button id="id" mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>











